.abt-cont{
  padding: 2em!important;
  img{
    margin-bottom: 1em;
  }
}
  
  .about-list{
    width: 80%;
    margin:auto;
    margin-top: 10em;
    margin-bottom: 2em;
    
    .about-item{
      padding: 1em;
      border-bottom: 0.1em solid lightblue;
      color: steelblue!important;
      &:hover{
        text-decoration: none;
        background-color: rgba(119,136,153,0.1);
        -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
        transition: background-color 0.5s, -webkit-transform 0.5s;
      }
    }
    p{
      padding: 1em;
    }
    img{
      height: 10em;
    }
    .about-item-name{
      font-weight: bold;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    .about-item-desig{
      font-weight: bolder;
      font-size: 1em;
    }
    .about-item-domain{
      font-weight: bolder;
      font-size: 0.75em;
    } 
  }